p , h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}


.start-button {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: blueviolet;
    padding: 8px 16px;
    border-radius: 75%;
}

nav {
    display: inline-block;
    text-decoration: none;
}

.highscoreNav {
    float: left;
}

#timer {
    float: right;
}

/*<script>
  var timeleft = 60;
  $(".start-button").on("click", function() {
  ocument.getElementById("timer").innerHTML = "Time " + timeleft + " seconds";
  timeleft -= 1;
    if(timeleft <= 0){
     clearInterval(downloadTimer);
     document.getElementById("timer").innerHTML = "Time Out!"
    }
  }, 1000);
</script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <navbar>
   <!--Link to the highscore page-->
     <a href="leaderboard.html" class="highscoreNav">View High Scores</a>
    <!--Timer keeping track of progress during the game -->
     <p id="timer"></p>
  </navbar>
  <container>
        <div>
          <h1>Coding Quiz Challenge</h1>
        </div>
        <div>
          <p>Try to answer the following code related questions within the time limit. Keep in mind that incorrect answers will penalize your scoretime by ten seconds!</p>
        </div>
        <div>
         
          <a class="start-button" href="questions.html">Start Quiz</a>-->
        </div>
      </container>

      <script type="text/javascript" src="assets/questions.js"></script> 