ul {
    list-style-type: none;
}

p , a, h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}



a {
    text-decoration: none;
}

.BUTTON {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: blueviolet;
    padding: 8px 16px;
    border-radius:8px;
    
    
}

#timer {
    float: right;
}

.col {
    justify-content: center;
}

.container {   
    justify-content: center;
}
